Gerenciador.InterfaceWeb/Service References/Commanding/SimpleTwitterCommandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1249/SimpleTwitterCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gerenciador.Comandos" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gerenciador.Comandos" minOccurs="0" name="command" nillable="true" type="q1:PostNewTweetCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>