trunk/Gerenciador.InterfaceWeb/Service References/Commanding/SimpleTwitterCommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gerenciador.Comandos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gerenciador.Comandos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1249/SimpleTwitterCommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" />
  <xs:complexType name="PostNewTweetCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quem" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostNewTweetCommand" nillable="true" type="tns:PostNewTweetCommand" />
</xs:schema>